
h1{
    color:red;
    
}
h2{
    
    color:red
}

h3{
    color:red;
   
}

body{
    background-color #E1F2F7;
    
    color:red
    font-size: large;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }