
h1{
    color:red;
    
}
h2{
    
    color:red
}

h3{
    color:red;
   
}

.font {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  article{
    text-align: center;
}

body{
    background-color #E1F2F7;
    
    color:red
    font-size: large;
}

.column {
    float: left;
    width: 33.3%;
    padding: 5px;
  }

  .row::after {
    content: " ";
    clear: both;
    display: table;
  }

  .fa {
    padding: 40px;
    font-size: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
  }
  